*{
  margin:0px;
  padding:0px;
  scroll-behavior: smooth;

 }

 html {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}


 :root {

  /**
   * colors
   */

 
  --my-color: #db5207;
  --other-color: white;
  --alt-color: #f8801a;
 }


body{
background-color: white;
}




.chat{
  position:fixed;
   top:93%;
   display:flex;
   justify-content:right;
   align-items:right;
  right:20px;
  z-index: 99999;
  
  }
  
  .chat-text{
  background-color:white;
  width:110px;
  text-align:center;
  border-radius:8px;
  line-height:1.7;
  font-weight:500;
   height:27px;
   display:none;

  }
  
  .whatsapp-img{
  border-radius:100px;
  height:50px;
   width:50px;
  margin-top:-9px;
  animation: scaleUp 3s ease-in-out infinite;
  }




/* SCROLL TO TOP STYLE RULES */


.scrollTop{
  position:fixed;
  bottom:30px;
  right:100px;
  background-color: var(--my-color);
  color:white;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  z-index: 9999;
  padding: 10px;
  border-radius:30px;
}

 /* END OF  SCROLL TO TOP STYLE RULES */

 




header{
 background-color:white;
 height:80px;
 display:flex;
  box-shadow: 0 0 10px hsl(21deg 94% 44%);
  position: fixed;
  width: 100%;
  top:0px;
  z-index: 9999;
}

.header-social{
 position:absolute;
 right:90px;
  top:20px;
}

 .header-social a{
  color:#db5207;
 }

.header-social i{
 font-size:40px;
}

.logo-card{
  position:absolute;
  left:-10px;
  bottom:-65px;
}

.logo{
 width:200px;
 height:200px;
}


.menu-btns{
 position:absolute;
right:30px;
  z-index:1;
 top:20px;
}


#menu-bar{
display:flex;
flex-direction:column; 
position:absolute;
background-color:rgb(8 8 12);
height:400px;
transition: all 0.4s ease;
top:80px;
width:100%;
align-items:start;
gap:30px;
transition: 0.5s ease-in-out;
 right:0px;
 z-index:-4;
  overflow:hidden;
}

.nav-link a{
 text-decoration:none;
color:#db5207;
 font-weight:bold;
}

.nav-link{
 display:flex;
flex-direction:column;
 position:relative;
 top:20px;
 margin:15px;

}

.nav-link-card hr{
 position:relative;
 top:20px;
width:50rem;
}


.slide{
left:-100%;
}


.hide{
visibility:hidden;
 z-index:1;
}

.open{
position:absolute;
}

/*-----------------------------------*\ 
  #home style rule
\*-----------------------------------*/

#home{
 padding-top:120px;
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 text-align:center;
}

.home-left h6{
  padding-top:30px;
  font-size:15px;
 display:block;
 text-align:center;
}

.home-left p{
  padding-top:40px;
  font-size:15px;
  padding-bottom:30px;
}



.home-left h1{
 font-size:55px;
 font-weight:bolder;
  padding-top:20px;
 color:#db5207;
}

#menu-about{
  padding-bottom:40px;
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 gap:20px
}

#menu-about a{
 text-decoration:none;
 color:black;
 font-weight:bold;
}

.menu-card{
 display:flex;
gap:10px;
padding:10px;
 border:3px solid #db5207;;
 text-align:center;
 width:110px;
 background-color:#db5207;
 justify-content:center;
 align-items:center;
}

.trans-btn{
   background-color:silver;
  border:3px solid silver;
 }

/*-----------------------------------*\ 
  #BE A CHEF
\*-------------------------------------*/


.be-chef-img-card{
display:flex;
 justify-content:center;
 align-items:center;
 width:90%;
 height:320px;
 overflow:hidden;
}


.home-img{
 width:100%;
 animation:zoomInOut 15s linear infinite;
}


@keyframes zoomInOut{
0%,100%{
 transform:scale(1);
}

50%{
 transform:scale(1.3);
}


}


#be-a-chef{
 background-color:#1a0904;
 margin-top:70px;
 color:white;
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 padding-bottom:40px;
  padding-top:70px;
}


.be-chef-text-card{
  padding-bottom:40px;
  display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 text-align:center;
}

.be-chef-text-card p{
padding:30px;
}

.be-chef-text-card h1{
text-align:center;
 font-size:17px;
 padding:20px;
 border: 3px solid #db5207;
 width:200px;
border-radius:20px;
 color:#db5207;
}


.be-chef-text-card h3{
 font-size:24px;
}

.be-chef-text-card a{
text-decoration:none;
}



/*SECRET*/

.secret{
  padding-top:120px;
   padding-bottom:70px;
  display:flex;
  flex-direction:column;
  gap:30px;
  justify-content:center;
  align-items:center;
 }
 
 .secret-card{
  display:flex;
  flex-direction:column;
   justify-content:center;
  align-items:center;
  text-align:center;
   padding-bottom:40px;
 }
 
 .secret-card h1{
  font-size:19px;
  padding-top:15px;
   padding-bottom:15px;
  color:#db5207;
 }
 
 .secret-card p{
   font-size:14px;
  padding:2px;
 }
 
 .secret-card img{
  width:120px;
  height:120px;
  border-radius:50%;
 }

/* MENU */

#menu{
  padding-bottom:100px;
 display:flex;
flex-direction:column;
 justify-content:center;
 align-items:center;
}

#wrap-mother,.wrap{
 display:flex;
flex-direction:column;
 justify-content:center;
 align-items:center;
}

#wrap-mother{
 padding-bottom:40px;
  padding-top:10px;
}


.wrap{
 padding-bottom:30px;
  padding-top:20px
}

.wrap p{
 background-color:#e4e5e9;
 width:85%;
 text-align:center;
 line-height:3.6;
 font-weight:bold;
 color:#db5207;
}


.wrap img{
 width:85%;

}

.menu-head-text{
 padding:35px;
}


.menu-head-text h2{
font-size:30px;
}


.menu-head-text p{
 padding-top:25px;
 text-align:center;
}


.menu-btn{
text-align:center;
 width:200px;
 line-height:2.8;
 font-weight:bold;
 border-radius:20px;
  border:3px solid var(--my-color);
}

.menu-btn a{
 text-decoration:none;
 color:black;
}

/* SERVICES */


#home-services-details-card{
    padding:30px;
    background-image: url('/assets/images/catering\ service.jpg') !important;
  background-blend-mode: overlay;
  background-size: cover;
    background-repeat: no-repeat;
 background-color:rgb(6 6 6 / 75%);
color:white;
  
}

.home-service-card{
display:flex;
flex-direction:column;
gap:10px;
padding-top:20px;
padding-bottom:50px;
}


.home-service-card span{
 display:flex;
 gap:10px;
}

 .home-services-details-intro h1{
  padding-bottom:15px;
   padding-top:45px;
  font-size:15px;
  font-weight: bold;
   color:#db5207;
 }

 .home-services-details-intro h4{
  padding-bottom:15px;
  font-size:20px;
 }

    .home-services-details-intro h5{
  padding-bottom:15px;
     font-weight:lighter;
     
 }


 

/* ABOUT */

.home-about{
  padding-top:60px;
 padding-bottom:60px;
display:flex;
flex-direction:column;
}

.home-about-img-card span{
width:90%;
 overflow:hidden;
}




.home-about-img-card img{
width:100%;

}




.home-about-img-card{
display:flex;
flex-direction:column;
gap:35px;
justify-content:center;
align-items:center;
 padding-bottom:60px;
}


.home-about-btn{
text-align:center;
 border-radius:20px;
  border:3px solid var(--my-color);
 width:250px;
 line-height:2.8;
 font-weight:bold;
}

.home-about-btn-card{
display:flex;
justify-content:center;
align-items:center;
}

.home-about-btn-card a{
  text-decoration: none;
  color:black;
}



/* TESTIMONIAL */

.home-test{
  background-image: url('/assets/images/catering\ service.jpg') !important;
   background-blend-mode: overlay;
   background-size: cover;
     background-repeat: no-repeat;
  background-color:rgb(6 6 6 / 47%);
  color:white;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
 }
 
 
 
 .home-test h6{
    padding-top:55px;
   padding-bottom:15px;
 }
 
  .home-test h3{
    padding-bottom:25px;
 }
 
 .test-card{
  width:290px;
  background-color:black;
 }
 
 .test-card p{
    padding-top:25px;
 }
 
 
 .test-card h3{
  padding-top:20px;
  font-size:18px;
 }
 
 .mother{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:70px;
  position:relative;
  top:90px
 }
 
 .home-test-btn{
 position:relative;
  top:140px;
  color:black;
  border-radius:20px;
  border:3px solid var(--my-color);
  width:250px;
  line-height:3;
  font-weight:bold;
 }
 
 .home-test-btn a{
  text-decoration: none;
  color:black;
}

 .home-test hr{
  width:100px;
  height:1.8px;
  position:relative;
  top:170px;
  background-color:black
 }
 
 
 /* QUESTION */
 
 .questions{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding-top:240px;
   padding-bottom:50px;
 }
 
 .questions h3{
   padding-bottom:20px;
   font-size:25px;
   color:#db5207;
 }
 
 .questions p{
   padding-bottom:30px;
 }
 
 .questions h4{
   font-size:27px;
   color:#db5207;
 }

 

 footer{
  background-color:black;
  text-align:center;
 }

 footer p{
  padding-top:30px;
    padding-bottom:15px;
  color:white;
   font-size:15px;
 }

footer h1{
  padding-bottom:30px;
  font-size:22px;
  color:white;
 }

footer a{
 text-decoration:none;
  color:#db5207;
}

